body{
    color: navy;
    font-size: large;
    background-color:rgb(227, 246, 187) ;
    text-align: center;
}
h1{
    margin-top: 0;
    font-size: 3em;
    color: rgb(161, 85, 232);
    text-align: center;
    border-bottom-style: dotted;
}
div {
    display: grid;
	flex-direction: row;
	grid-gap: 5px;
	padding: 5px;
    display: grid;
    border-radius: 10px;
    border:dotted pink;
    grid-gap: 20px;
    background-color: rgb(144, 199, 223);
    text-align: center;
  }
select{
    font-size: larger;
    text-align: center;
    background-color: rgb(170, 216, 234);
    color: rgb(159, 79, 233);
}
button{
    font-size: larger;
    text-align: center;
    color:rgb(159, 79, 233);
    background-color: rgb(150, 214, 239);
}
